flask
flask-cors
flask-bcrypt
flask-jwt-extended
mysql-connector-python
pandas
numpy
scikit-learn
sentence-transformers
PyPDF2
faiss-cpu
matplotlib
seaborn
plotly
python-multipart
werkzeug
requests
schedule
apscheduler
bcrypt
cryptography
python-jose[cryptography]